body{
    margin: 0;
    font-family: "Monserrat", sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

main{
    width: 100vw ;
    height: 100vh ;
    z-index: 0;

}
#container3D canvas{
    width: 100vw ;
    height: 100vh ;
    position: absolute;
    top: 0;
    left: 0;
}
/* subheader*/
.subheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: absolute;
    width: 100%;
    z-index: 10;
}


.contenido ul{
    display: flex;
    gap: 20px;
    
    height: 50px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    
}
.contenido ul li{
    padding: 0 1rem;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.contenido{
    display: flex;
    height: 100%;
    align-items: center;

}
.icons{
    background-color: #000;
    margin-left: 10px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 5px 10px;

    align-items: center;
}
.icons i {
    color: white;
}
#user{
    color: #000;
    background-color: white;
    padding: 4px;
    border-radius: 50%;
}
/*texto titulo*/
.left{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 30%;
    transform: translate(0%,-40%);
    display: flex;
    flex-direction: column;
    z-index: 4;
    
}

.titulo{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.subtitulo{
    font-size: 1.5rem;
}

#input i{
    position: absolute;
    bottom: 7px;
    left: 5px;
    
}
#input input{
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    height: 30px;
    cursor: pointer;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: 1s;
}
#input{
   width: 80%;
}
#base{
    position: absolute;
    bottom: -5%;
    left: 40%;
    width: 450px;
    z-index: -1;
    filter: drop-shadow(2px 2px 5px gray)
    
}
#recorrido{
    position: absolute;
    bottom: -550px;
    right: -400px;
    z-index: -2;
    
}
#servicios{
    padding: 5% 10%;
    height: 80vh;
}
.info_1, .servicios{
    width: 90%;
}
.servicios{
    
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
   

}
.servicio{
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
}
.servicio li{
    color: green;
    list-style: none;
}
.servicio li span{
    color: black
}
#carousel{
    display: flex;
    
    height: 60vh;
    margin: auto;
    
   
    border-radius: 30px;
    overflow: hidden;

}
#carousel img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}
#carousel img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
}
#sec_carousel{
    padding: 0 10%;
    padding-bottom: 5%;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
 
    
}
.popup{
    display: none;
    position: fixed;
    background-color: #fff;
    width: 74%;
    min-height: 70%;
    top: 10%;
    left: 13%;
    border: 1px solid #333;
    z-index: 8;
    padding: 20px;
    border-radius: 20px;
}
.popup i{
    position: absolute;
    top: 0;
    left:0;
    transform: translate(-50%,-50%);
    padding: 15px;
    background-color: #000000;
    border-radius: 50%;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.202);
}